<div class="container">
  <h2 class="text-center pt-4">CONSULTAR VALORES</h2>
	<form>
		<div class="form-group">
			<label for="formGroupOrigem"></label>
			<input type="text" class="form-control" id="formGroupOrigem" placeholder="Origem">
    </div>
    <div class="form-group">
			<label for="formGroupDestino"></label>
			<input type="text" class="form-control" id="formGroupDestino" placeholder="Destino">
    </div>
    <div class="form-group">
			<label for="formGroupPartida"></label>
			<input type="text" class="form-control" id="formGroupPartida" placeholder="Data de Partida">
    </div>
    <div class="form-group">
			<label for="formGroupVolta"></label>
			<input type="text" class="form-control" id="formGroupVolta" placeholder="Data de Volta">
    </div>
		<button type="submit" class="btn btn-success border my-4">Consultar</button>
	</form>
</div>